.image {
    background: url("https://supersound.pl/media/catalog/category/caught-in-joy-ptVBlniJi50-unsplash-3.jpg");
    width: 100%;
    height: 150px;
}

.header {
    padding-top: 40px;
    color: #2d838d;
    font-size: 60px;
    text-align: center;
}

.footer-text {
    padding-top: 10px;
    color: #2d838d;
    font-size: 20px;
    text-align: center;
}

.footer {
    background-color: #c5aeda;
    position: fixed;
    width: 100%;
    padding-bottom: 40px;
    bottom: 0;
    height: 60px;

}

* {
    margin: 0;
}

.container {
    margin-left: 40px;
}