<!DOCTYPE html>
<html lang="pl" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Studio nagrań</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>

</head>
<body>
<div th:replace="fragments :: header"></div>
<br><br>

<div class="container">
    <h2>O nas</h2><br>
    <p>Nasz zespół tworzą wyjątkowi ludzie:
        specjaliści z zakresu akustyki wnętrz, projektowania produktu,
        architektury, systemów scenicznych i realizacji wydarzeń artystycznych.</p><br><br>
    <a href="/offer">Sprawdź naszą ofertę</a><br><br>
    <a href="/contact">Skontaktuj się z nami</a><br><br>
    <div th:replace="fragments :: footer"></div>

</div>

</body>
</html>