<!DOCTYPE html>
<html lang="pl" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Oferta</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>

</head>
<body>
<div th:replace="fragments :: header"></div>
<br><br>


<div class="container">
    <h1>Nasza oferta</h1><br><br>

    <h2>Mix</h2><br><br>

    <p>Wykorzystuję innowacyjne techniki obróbki dźwięku aby spełnić wymagania nawet najbardziej wymagających słuchaczy
        oraz spełnić standardy panujące aktualnie na rynku muzycznym.
        Do cyfrowej obróbki dźwięku wykorzystuję narzędzia takich firm jak Native Instruments, Output, Ozone i wiele
        innych.</p><br><br>

    <h2>Realizacja nagrań</h2><br><br>

    <p>Studio nagrań oferuje klimatyzowaną kabinę nagrań o powierzchni około sześciu metrów kwadratowych.
        Aby zapewnić jak największy komfort tekst wyświetlany jest na 32 calowym telewizorze w kabinie.</p>
</div>


<div th:replace="fragments :: footer"></div>


</body>
</html>